div,
p,
a {
  border: 1px yellow dotted;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: 2s;
}
p:hover,
a:hover,
div:hover {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px rgba(0, 0, 255, 0.2) solid;
  animation: efeito;
}

@keyframes efeito {
  0% {
    border: 3px rgb(255, 0, 0) solid;
    box-shadow: 0 0 0 1 0.4 blue;
    font-size: 20px;
  }
  50% {
    color: red;
  }
}
